extends ../../../main
include ../../../inc/mixin

block append js
    if !mode
        script(src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js')
    - p = mode?'http://127.0.0.1:8088/':libPath
    script(src='#{p}router.js')
block ctn

    body(data-wid= wt.appId, data-wcode= wt.code)
        .headerWrapper
            nav.navbar.navbar-inverse.navbar-fixed-top
                header.container
                    .navbar-header
                        a(href='#').navbar-brand= c.name
                        #topBar
        #content
        #static.container
            block content
        footer.navbar-inverse
            .text-center(style='padding: 10px')
                a(href= c.url) P家族 2015