extends ./inc/main

block content
    .main.row
        .col-md-6.text-center
            .well
                a(href=f.navUrl('apply/inquiry')).btn.btn-lg.btn-primary.btn-block
                    != f.icon('user')
                    | 我要咨询
        .col-md-6.text-center
            .well
                a(href=f.navUrl('apply/order')).btn.btn-lg.btn-success.btn-block
                    != f.icon('phone')
                    | 我要预约

