extends ./inc/main

block style
    :less(minify=true)
        .postPic {
            width: 450px !important;
            float: left
        }

        .imgBox {
            text-align: left;
        }

        .hostInfo {
            display: none;
        }

        h2 {
            font-size: 22px !important;
        }
block content
    include ../../inc/crumb
    .article
        .col-md-8
            include ../../inc/mod/post
        .col-md-4.m3
            if postList
                .row
                    +panel('相关文章')
                        .list-group
                            +media(postList,{})


block st
    :coffee(bare=true,minify=true)
        cf.noCopy()