extends ./inc/wt

block script
    - main = 'wechat'

block prepend js
    script(src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js')


block content
    .headerWrapper
        .navbar.navbar-inverse.navbar-fixed-top
            #header.container.text-center
                #logo.navbar-header
                    a.navbar-brand(href='#')= name
    .container
        #content.row
    .footerWrapper
        #footer.container
            p(onclick= 'user.logout()').text-center!= i18.iim('copyright', c.url, i18.ii('abbr'))