doctype html

block script
    - main = 'main'

html
    head
        include ./inc/smeta

        block head

        style(type='text/css')
            block style


    block ctn
        //body

    include ./inc/ssub
