doctype html
block script
    //- main = 'main'
    if mode
        -libPath = 'http://127.0.0.1:8088/';
html
    head
        include ./inc/smeta

        block meta

        block head

        style(type='text/css')
            block style

    block ctn

    include ./inc/ssub
