doctype html
block script
    - main = 'mob'
    if mode
        -libPath = 'http://127.0.0.1:8088/';
html
    head
        include ./inc/smeta

        block meta

        block head

        style(type='text/css')
            block style

    body(data-wid= wt.appId, data-wcode= wt.code)
        .container
            #static.row
                block content
            #content.row

    include ./inc/ssub
