extends ./main

block ctn
    body(data-wid= wt.appId, data-wcode= wt.code)
        .headerWrapper
            .navbar.navbar-inverse.navbar-fixed-top
                #header.container.text-center
                    #logo.navbar-header
                        a.navbar-brand(href='#')= name
        .container
            #static.row
                block content
            #content.row
        .footerWrapper
            #footer.container
                p(onclick= 'user.logout()').text-center!= i18.iim('copyright', c.url, i18.ii('abbr'))
