extends inc/main
block content
    .article
        .col-md-8
            include ../../inc/crumb
            h2.event-name= title
            .sub-content
                span 发表于
                i= pubTime.pattern()
            hr.thin
            .article-content
                != f.imgItem(locals, c, 'head', 'img-responsive')
                .p= content

        .col-md-4
            .row
                if contentList
                    +panel('相关内容')
                        .list-group
                            +media(contentList,{})