extends inc/main
block content
    .container
        .article
            .col-md-8
                include ../../inc/crumb
                h2.event-name= title
                hr.thin
                .article-content
                    = content
            .col-md-4
                .row
                    if contentList
                        +panel('相关内容')
                            .list-group
                                +media(contentList,{})