extends inc/main
block content
    .container
        .article
            .col-md-8
                include ../../inc/crumb
                include ../../inc/mod/post
            .col-md-4
                .row
                    if postList
                        +panel('相关文章')
                            .list-group
                                +media(postList,{})
