extends ./inc/main

block style
   :less(minify=true)

block content
   include ./inc/topFragment
   .panel.panel-y-2
      .panel-heading
         h3 精英团队
            span.en Elite Team
      .panel-body
         p 这是一个真正专业、高品质、高素质的专业团队<br />优寇坊是我们的家、也是我们的舞台<br />在这个舞台上，可以充分展示我们的才能、智慧与耀眼的光芒