section.sp.sp1
    .container
        h4 在一个开放舒适的环境里，和一群有趣的朋友，分享自己喜欢的话题，讲述自己的人生故事
        a(href= f.navUrl('host')).btn.btn-lg.btn-danger.newTopic 我要成为主持人
        p 做主持人，提高英语实际运用能力，锻炼公众演讲能力，传递价值，感染更多的人
