doctype html

block script

html
    head
        title= title
        - main = 'main'
        include ../../../inc/smeta

        block style
        block head

    body(data-wid= wt.appId, data-wcode= wt.code)
        .headerWrapper
            header#header.container
                .navbar-header
                    .col-xs-2.visible-xs-block.lb
                    a.col-md-3.col-xs-8(href='#')
                        img.logoImg.img-responsive(src= f.resPath(c, 'images/title.png'))
                    .col-xs-2.visible-xs-block.rb
                    #menuBox.col-md-9
                        include ../../../inc/b3Menu
                        ul#topBar.nav.navbar-nav.navbar-right
                    #loginMenu.collapse

        #static
            block content

        .container
            #content.row


        section.footerWrapper
            footer#footer.container
                .row
                    .col-md-2
                        img.logo.img-responsive(src= f.resPath(c, 'images/logo.png'))
                    .col-md-5.text-left
                        h3 理念、价值、方向
                        div
                            p 后英语时代，一个注重体验，分享，与成长的英文社交圈。
                            p 通过有价值的社交活动，把英语沟通，中西方文化交流，商业机会融合在一起。
                            p
                                | 这里，为每一位参与者提供一个开放，有爱的空间和一个可以展示自己的舞台，让所有人在享受社交生活带来的乐趣的同时，可以全面提升自我，用心关注他人，积极连接
                                span(onclick='user.logout()') 世界！
                    .col-md-5
                        .sn.clearfix
                            .col-md-4(style='padding-right: 0;')
                                h4 发现，体验
                                p 后英语时代
                                strong 有价值的英文社交活动
                                small QQ群：44426487
                                p
                                    a(target='_blank', href='http://wp.qq.com/wpa/qunwpa?idkey=8ac1582bb3ffe198a8863f84cfe483317a1ed2d8318b8623abce282ab0f191f2')
                                        img(border='0', src='http://pub.idqqimg.com/wpa/images/group.png', alt='后英语时代', title='后英语时代')
                            .col-md-4.col-xs-6

                                img(width='100%', src= f.resPath(c, '/images/wechat.jpg'))
                                span PostEnglishTime
                            .col-md-4.col-xs-6
                                img(width='100%', src= f.resPath(c, '/images/qrcode.jpg'))
                                span 微信讨论组
        section.sbtm
            .container
                p!= i18.ii('copyright', c.url, i18.ii('abbr'))

    include ../../../inc/ssub
                                        