h2.event-name= title
    if subTitle
        small= subTitle
hr
.row
    != f.imgItem(locals, c, 'head', 'postPic')
if author
    hr
    - _user = author
    - _user._e = 'user'
    - _uClass = 'author'
    include userInfo
    p
.well.well-sm
    strong [核心提示]
    = brief

.article-content!= content

//dl.meta
//    if cat
//        dt(title='类别')!= f.icon('th-list')
//        dd
//            a(href='/postList.html?cat=topic')= cat
//    dt(title='喜欢')!= f.icon('heart')
//    dd
//        a(onclick='app.support()') 0人喜欢
//    dt(title='访问')!= f.icon('eye-open')
//    dd 访问#{'100'}次

if pubTime
    p.text-right 发表于
        = pubTime.pattern()
    //pattern('yyyy-MM-dd HH:mm')
//.share
//    #func
//        a(onclick="app.likeIt(this,'#postLike')")
//            != f.icon('heart')
//            | 喜欢
//        span 已经有
//            strong#postLike= support
//            | 人喜欢
    //include ../../inc/bdShare.html
!= f.copyRight(c, 'post', _id)
#_comments