
+title(title, subTitle).hidden-xs
.row
    != f.imgItem(locals, c)
+title(title, subTitle).hidden-sm.hidden-md.hidden-lg

if author && author.username != c.code
    hr
    +userInfo(author)
p

.well.well-sm
    strong [核心提示]
    = brief

.article-content
    != content.replaceAll('_cImg" src', '_cImg" bb-src')

    if biContent
        each it in biContent
            p.en= it.en
            p.zh= it.zh


//dl.meta
//    if cat
//        dt(title='类别')!= f.icon('th-list')
//        dd
//            a(href='/postList.html?cat=topic')= cat
//    dt(title='喜欢')!= f.icon('heart')
//    dd
//        a(onclick='app.support()') 0人喜欢
//    dt(title='访问')!= f.icon('eye-open')
//    dd 访问#{'100'}次

if pubTime
    p.text-right 发表于
        = pubTime.pattern()
    //pattern('yyyy-MM-dd HH:mm')
//.share
//    #func
//        a(onclick="app.likeIt(this,'#postLike')")
//            != f.icon('heart')
//            | 喜欢
//        span 已经有
//            strong#postLike= support
//            | 人喜欢
    //include ../../inc/bdShare.html
if !source
    != f.copyRight(c, 'post', _id)

#_comments