div(class= _uClass || 'host')
    != f.img(f.resPath(c, 'portrait/' + _user._id + '.jpg'))
    .hostInfo
        .title
            strong!= f.link(_user, 'username')
            span= _user.title
            if _user.industry
                span &nbsp;-&nbsp;
                - log(i18.iCat('industry'))
                span= i18.iCat('industry')[_user.industry]
        p= _user.introduction