.panel.recommended-panel
    h3.panel-heading Recommended Pages

- var _items = recommend
- var showTour = true

include items

//each it in _recommeded
//    .pBox.col-md-3
//        .cat= it.slogan
//        .title= it.title
//
//include tours