extends inc/main
block append js
    - p = mode?'http://127.0.0.1:8088/':libPath
    script(src='#{p}enroll.js')

block content
    include ../../inc/crumb
    .row.article
        .col-md-8
            include ../../inc/mod/activity
        .col-md-4
            +panel('以往活动')(pClass='panel-info')
                +media(activityList,{})

    script.
        _ft = !{JSON.stringify(feeTable || '[]')};
        _pa = !{JSON.stringify(participant || '[]')};