extends ./inc/main

block content
    .pic.row
        .bg.carousel.slide(id= 'home' , data-ride='carousel', data-pause='hover')
            .carousel-inner
                each it,i in head.list
                    .item(class= i == 0 ? 'active' : '' )
                        != f.imgItem(it, c, 'head', i)
                        .carousel-caption.p0
                            h3: a(href = it.href)= it.title
                            = it.subTitle
            ol.carousel-indicators
                each it,i in head.list
                    li(data-target='#home', data-slide-to= i, class= i == 0 ? 'active' : '')
    .tab
        +panel('P家族信息','m0')(pClass='panel-info')
            .list-group
                +media(posts,{})

