extends inc/main

block content
    .topHead
        .panel
            .panel-heading
                h2= title
                    small.pull-right.btn(data-toggle="collapse",data-target="#asl") A ~ Z
                    include inc/share
        #asl.collapse
            .row.text-center
                each it in allCultures
                    != f.link(it, null, 'col-md-3')

        if refFile
            -var _slides = refFile.slide || []
            -var _prop = 'slide'
            -var _h3 = title
            -var _p = subTitle
            include inc/slide

    article.panel
        .panel-heading
            h3 Introducing the #{title} #{pinYin ? '(' + pinYin + ')' : ''}
        .panel-body
            .article!= content

    if recommend
        .col-md-12
            .row
                include inc/recommend