extends inc/main
block content
    #activity.container
        .row
            .col-md-8
                include ../../inc/crumb
                #activityList.boxList
                    each it in items
                        include inc/boxItem
                    include ../../inc/nextPage
            .col-md-4
                +panel('活动主题').panel-danger
                    .list-group
                        a.list-group-item(href='/postList') 全部
                        each it in cats
                            != f.link(it,null,'list-group-item')