extends inc/main

block content
    section#activity.s.s1
        h3 活动
        - var _slideInfo = 'actInfo.jade'
        if slides.length
            #slide.carousel.slide(data-ride='carousel')
                .carousel-inner.article
                    each it,i in slides
                        .item(class= i == 0 ? 'active' : '' )
                            include inc/actInfo
                - var _slides = slides
                - var _sid = 'slide'
                include ../../inc/slideBtn

    include inc/enrollHost

    section#reading.s.s2
        .container
            h3 文章
            .row
                each it in post
                    .col-md-6
                        .postItem
                            != f.imgItem(it, c)
                            h4!= f.link(it)
                            .author
                                a.pull-left= it.lastUpdated.pattern('yyyy-MM-dd HH:mm')
                            .content
                                p=  it.brief || ''

    section.sp.sp2
        .container
            h4 通过新媒体平台，将文字，图片，视频分享给社区里每一位朋友
            a.btn.btn-lg.btn-success 我要发表文章
            p 写文章，通过文字与他人沟通，分享一份体验，传递一份价值，影响更多的人
    section#petup.s.s2(style='padding-bottom: 0')
        h3 点亮世界
        #world(style='width: 100%;height: 600px;background-color: #222222')
    section.sp.sp2
        .container
            h4 旅途中的你不仅可以享受沿途的风景和美食，还可以传递一点正能量，赢得一份尊重
            a(href=f.navUrl('petupNow')).btn.btn-lg.btn-primary Let's P.E.T. Up the World
            p 分享旅行的故事，加入P.E.T.UP，让我们的出行更有意义
    section#people.about.teambg
        .container
            h3 团队
            .row
                .col-md-5
                    .aboutUs
                        .pet
                            h3 后英语时代 P.E.T
                            p
                                | 在这座熟悉又陌生的
                                strong 城市
                                | 里...
                            p
                                | 也许，你与我一样，
                                strong 挑剔、敏感
                                | ，会常常感到
                                strong 孤独、寂寞
                            p
                                | 也许，我们都渴望
                                strong 成就感，被关注，被信赖，被认同
                            p
                                | 那为什么我们不
                                strong 在一起
                                | ，不是最好的时光里有你们在
                            p
                                | 而是
                                strong 你们
                                | 在，我才有了最好的时光，和一个
                                strong 更好
                                | 的我
                        .intro
                .col-md-7.team
                    .horScroll
    section.sp.sp2
        .container
            h4 与一群充满正能量，有爱，付出的小伙伴们一起，把P.E.T活动做的更好
            a.btn.btn-lg.btn-warning(href=f.navUrl('volunteer')) 我要成为志愿者
            p 成为志愿者，感受一份拥有感，锻炼自己的执行能力，沟通能力与领导能力