extends inc/main

block content
    .container
        include ../../inc/crumb
        .row.article
            #main.col-md-8
                include ../../inc/mod/post
            #side.col-md-4
                    h3 相关文章
                    ul
                        each it in postList
                            li!= f.link(it)