extends inc/main


block content
    .container
        .row.article
            #main.col-md-8
                include ../../inc/crumb
                include ../../inc/mod/post
            #side.col-md-4
                .list-group.double
                    h3: strong 相关文章
                    each it in postList
                        != f.link(it,null,'list-group-item')