extends ../../../main

block headRes
    link(rel='stylesheet', type='text/css', href='/module/ear/style/main.css', media='all')

block ctn
    .container
        header.row
            .col-md-7.logo
                h1
                    a(href='/')
                        img.img-responsive(src='#{resPath}images/logo_03.png', alt='')
                p 聆听在线--最好用的听力健康平台
            .col-md-5.block-search-hder
                span.tip-search 站内搜索
                input.itxt-search(name='', type='text', placeholder='', value='')
                input.btn-search(type='button')
        nav.row
            ul.col-md-8.pull-left.l-nav
                li.li-nav.current
                    a(href='/') 首页
                li.li-nav
                    a(href='javascript:void(0);') 听力健康
                li.li-nav
                    a(href='javascript:void(0);') 互动论坛
                li.li-nav
                    a(href='javascript:void(0);') 助听器
                li.li-nav
                    a(href='javascript:void(0);') 听障问诊台
                li.mask-active-nav
            ul.col-md-3.pull-right.l-reg
                li.li-reg
                    a(href='javascript:void(0);') 注册
                li /
                li.li-reg
                    a(href='javascript:void(0);') 登录
        block content

        footer.row
            .col-md-7.intro-ft
                p
                    | 全国助听器验配师网
                    br
                    | 400-0688-153
                    br
                    a(target='_blank', href='http://www.earmedicalmap.com') http://www.earmedicalmap.com
            .col-md-2.attention-ft
                h5.title-ft-attention 关注我们
                ul.l-ft-attention
                    li.li-ft-attention
                        a(href='javascript:void(0);') 广告服务
                    li.li-ft-attention
                        a(href='javascript:void(0);') 联系我们
                    li.li-ft-attention
                        a(href='javascript:void(0);') 免责声明
            .col-md-3.share-ft
                h5.title-ft-attention 关注我们
                ul.l-ft-share
                    li.li-ft-share
                        a(href='javascript:void(0);')
                            img.img-responsive(src='#{resPath}images/icon-share_25.png', alt='')
                    li.li-ft-share
                        a(href='javascript:void(0);')
                            img.img-responsive(src='#{resPath}images/icon-share_27.png', alt='')
                    li.li-ft-share
                        a(href='javascript:void(0);')
                            img.img-responsive(src='#{resPath}images/icon-share_29.png', alt='')
block js
    script(src="/res/js/jquery/dist/jquery.js")
    script(src="/res/js/bootstrap/dist/js/bootstrap.min.js")


