doctype html
block script
html
    head
        include ../../../inc/smeta
        block style
        block head
    body(et= c.startedDate)
        - main = 'main'
        block content
    include ../../../inc/ssub
